.container
{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    .heading
    {
        margin: 15px;
        h2
        {
            color: white;
            font-family: sans-serif;
        }
    }
    .input_element
    {
        margin: 15px;
        input{
            border-radius: 10px;
            padding: 10px;
            border: 0;
            border-bottom: 2px solid white;
            text-align: center;
            text-transform: capitalize;
        }
    }
    .buttons
    {
        margin: 15px;
        button{
            margin: 10px;
            // border: 0;
            border-radius: 10px;
            padding: 5px 20px;
            outline: none;
            border: 1px solid white;
            color: white;
            font-size: 15px;
            cursor: pointer;
            .btn-link
            {
                color: white;
                text-decoration: none;
                border: 0;

            }:hover
            {
                color: #222f3e;
                background-color: white;
            }
        }
        :hover
        {
            color: #222f3e;
            background-color: white;
        }
    }
}